@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: tomato;
}
.fondonegro {
  background-color: black;
}
.fondo {
  background-color: azure;
}
.fondo h2 {
  padding: 250px 0;
}
h1 {
  text-align: center;
  color: #f76e11;
  margin-top: 15px;
  padding: 0px 20px;
  font-size: 50px;
  border-radius: 10px;
  font-family: "oswaldo";
  font-family: "Brush Script MT";
  text-shadow: 2px 2px 4px black;
}
h1 span {
  color: black;
  text-shadow: 2px 2px 2px #f76e11;
}
h2 {
  width: 100%;
  text-align: center;
  color: #f76e11;
  font-size: 50px;
  padding: 10px;
  font-family: "Brush Script MT";
  text-shadow: 2px 2px 2px black;
}
h3 {
  text-align: center;
  color: #f76e11;
  font-size: 35px;
  font-family: "Brush Script MT";
  text-shadow: 2px 2px 2px black;
  padding: 10px;
}
h4{
  font-family: "oswald";
}
.container {
  display: grid;
  grid-template-columns: 1.3fr 0.7fr;
  grid-template-rows: auto auto 1000px auto 1fr auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "nav nav"
    "hero hero"
    "destacados popular"
    "opciones opciones"
    "footer footer";
  width: 100%;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu li {
  list-style: none;
  margin: 0px 3px;
  font-size: 20px;
}
a {
  text-decoration: none;
  text-align: center;
}
.menu li a {
  color: black;
  background-color: azure;
  border: 1px solid black;
  padding: 5px;
  border-radius: 7px;
  text-shadow: 0px 0px 1px black;
  transition: all 0.5s;
}
.menu li a:hover {
  background-image: linear-gradient(120deg, tomato 60%, black);
  color: white;
}
.header {
  grid-area: header;
  background-color: #fbf8f1;
}
nav {
  grid-area: nav;
  padding: 10px;
  border-bottom: 1px solid black;
  border-radius: 10px;
  background-color: #f76e11;
  position: sticky;
  top: 0px;
  left: 0px;
}
.contenedorHeader {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero {
  grid-area: hero;
  background-image: url("https://images.unsplash.com/photo-1604971263525-1a9714a02d87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h4,
.hero p {
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "oswald";
}
.hero p {
  font-size: 30px;
}
.elemento {
  background-color: white;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
}
.destacados {
  grid-area: destacados;
  background-color: #fbf8f1;
  border: 3px solid black;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  padding: 10px;
  margin: 3px 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.destacados .elemento {
  display: flex;
}
.destacados .elemento section img {
  width: 250px;
  transition: all 1s;
}
.destacados .elemento section img:hover {
  transform: scale(1.1);
}
.parrafoelemento {
  text-align: justify;
  padding: 0px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: black;
}
section p a {
  color: black;
  text-align: center;
  text-decoration: underline;
}
.popular {
  grid-area: popular;
  background-color: #fbf8f1;
  border: 3px solid black;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  padding: 10px;
  margin: 3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}
.popular .elemento section img {
  width: 100%;
  transition: all 1s;
}
.popular .elemento section img:hover {
  transform: scale(1.05);
}
.opciones {
  grid-area: opciones;
  width: 99.5%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fbf8f1;
  border: 3px solid black;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.opciones .elemento {
  width: 300px;
  margin: 10px;
  border: 1px solid black;
  transition: all 1s;
}
.opciones .elemento:hover {
  transform: scale(1.1);
  
}
.opciones .elemento section img {
  text-align: center;
  width: 250px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fbf8f1;
  border: 3px solid black;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  padding: 10px;
  margin: 3px 5px;
  text-align: center;
}

/* CONSULTAS----------------------------------------------------------------------------------------------------------------------------------------------------------- */

.containerC {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.5fr;
  grid-template-rows: auto auto auto auto;
  grid-auto-columns: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  grid-template-areas:
    "heroc heroc heroc heroc"
    "autos autos autos preferidos"
    "motos motos motos preferidos"
    "camionetas camionetas camionetas preferidos";
}
.heroc {
  grid-area: heroc;
  background-image: url("https://images.unsplash.com/photo-1552273591-61ce0e5d04cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  font-size: 40px;
  color: white;
}
.heroc h4{
  padding-bottom: 80px;
}

.autos, .motos, .camionetas, .preferidos{
  grid-area: autos;
  width: 99.5%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
  flex-wrap: wrap;
  background-color: #fbf8f1;
  border: 3px solid black;
  box-shadow: 2px 2px 3px black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  
}
.autos .elemento, .motos .elemento, .camionetas .elemento, 
  .preferidos .elemento {
  width: 300px;
  margin: 10px;
  border: 1px solid black;
}
.autos .elemento section img, .camionetas .elemento section img,  .preferidos .elemento section img  {
  text-align: center;
  width: 250px;
  transition: all 1s;
}

.autos .elemento section img:hover, .camionetas .elemento section img:hover,  .preferidos .elemento section img:hover{
  transform: scale(1.05);
}

.motos{
  grid-area: motos;
  
}
.motos .elemento section img{
  width: 200px;
  transition: 0.5s linear;
  
}
.motos .elemento section img:hover{
  transform: rotateY(180deg);
}

.camionetas {
  grid-area: camionetas;
}

.preferidos {
  grid-area: preferidos;
  overflow: auto;
  height: 100%;
}

/* Sobre Nosotros -------------------------------------------------*/

.contenedorNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fondoNosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1484950763426-56b5bf172dbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 800px;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: "oswald";
}

.elementoSN {
  background-color: azure;
  border: 2px solid black;
  border-radius: 10px;
  width: 99.5%;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 2px 2px 3px black;
  font-size: 20px;
}
.elementoSN h2 {
  padding: 0px;
}
.listasSN {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.listaSN {
  width: 700px;
}
.lista {
  list-style: none;
}
.lista h3 {
  margin-bottom: 20px;
}
.tituloSN {
  margin-bottom: 20px;
}

@keyframes enProceso{
  0%{
    color: black;
    text-shadow: 3px 3px 5px tomato;
  }
  50%{
    color: #f76e11;
  }
  100%{
    color: white;
  }
}
/* Trabaja con nosotros---------------------------------------------------------------------------------------------------------------------------------------- */

.contenedorTN{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.heroTN{
  background-image: url("https://images.unsplash.com/photo-1505235672157-c152c125e575?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}
.heroTN h4{
  font-size: 40px;
  color: white;
}
.heroTN .renta{
  font-size: 80px;
  text-transform: capitalize;
}
.contenedorformTN{

  padding: 30px;
  max-width: 800px;
  background-color: #fbf8f1;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid #f76e11;
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  text-align: center;
}
.elementoform{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.elementoform input{
  background-color: #fbf8f1;
  border: none;
  border-bottom: 2px solid black;

  color: black;
  text-transform: capitalize;
  text-align: center;
}

/* INGRESAR ---------------------------------------------------------*/
.contenedorIng {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.elementoIng {
  width: 100%;
  height: 700px;
}
.imagenIng1 {
  background-image: url("https://wallpaperbat.com/img/203109-hd-wallpaper-vehicle-taillight-wallpaper-background-audi-black.jpg");
  background-position: center;
  background-size: cover;
}
.formularioIng {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.ing {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px 100px;
  font-family: "oswald";
}
.ing h4 {
  margin: 30px;
}
label {
  font-size: 20px;
  margin: 10px;
}
input {
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  font-size: 20px;
  color: white;
}
button {
  padding: 0px 15px;
  margin: 10px;
}



.enProceso{
  width: 100%;
  height: 300px;
  text-align: center;
  animation-name: enProceso;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}



 @keyframes enProceso{
  0%{
    color: black;
    text-shadow: 3px 3px 5px tomato;
  }
  50%{
    color: #f76e11;
    text-shadow: 3px 3px 5px white;
  }
  100%{
    color: white;
  }
 }
/* -----------------------------------------Media Query--------------------------------------- */
/* -----------------------------------------Media Query--------------------------------------- */

@media only screen and (max-width: 778px) {
  nav {
    position: static;
    padding: 3px;
    border-radius: 0px;
  }
  .menu {
    display: flex;
    flex-direction: column;
  }
  .menu li {
    margin: 2px auto;
    background-color: aqua;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    color: black;
    background-color: azure;
    border: 1px solid black;
    padding: 5px;
    border-radius: 7px;
    text-shadow: 0px 0px 1px black;
  }
  .menu li a {
    width: 100%;
    padding: 0 auto;
    border: none;
    padding: 0px;
    border-radius: none;
    text-shadow: none;
  }
  .destacados .elemento {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: auto auto 1000px auto auto 1fr auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "nav nav"
      "hero hero"
      "destacados destacados"
      "popular popular"
      "opciones opciones"
      "footer footer";
    width: 100%;
  }
  .contenedorIng {
    flex-direction: column;
  }
  .containerC {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heroc heroc heroc"
      "autos autos autos"
      "motos motos motos"
      "camionetas camionetas camionetas"
      "preferidos preferidos preferidos";
  }
  .preferidos{
    height: auto;
  }
}

@media only screen and (max-width: 565px) {
  .footer {
    flex-direction: column;
  }
  .footerContacto {
    padding-bottom: 20px;
  }
}

@media only screen and (min-width: 331px) and (max-width: 480px) {
  .contenedorHeader {
    flex-wrap: wrap;
  }
  section .menu {
    width: 100%;
  }
  .footer {
    overflow: auto;
  }
  .tituloSN {
    width: 100%;
  }
  .tituloSN {
    font-size: 35px;
  }
  .ing {
    padding: 20px 10px;
  }
}
@media only screen and (max-width: 330px) {
  .opciones .elemento {
    width: 100%;
  }
  .opciones .elemento section img {
    width: 100%;
  }
  h1 {
    font-size: 100%;
  }
  .ing {
    padding: 20px 0px;
  }
}
